/* Font Declaration Metropolis*/
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.medium.otf') format('opentype');
  font-weight: 500;
}

/* Font Declaration Omnes */
@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.light.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.medium.ttf') format('opentype');
  font-weight: 500;
}

/* Common Styles */
:root {
  /* Colors */
  --text-primary: rgba(32, 30, 61, 1);
  --text-secondary: rgba(70, 73, 84, 1);
  --red-primary: rgba(255, 0, 67, 1);
  --red-secondary: rgba(224, 13, 58, 1);
  --red-secondary-3: rgba(178, 10, 47, 1);
  --red-secondary-4: rgba(142, 8, 37, 1);
  --red-secondary-5: rgba(106, 6, 28, 1);
  --blue-primary: rgba(75, 75, 94, 1);
  --hra-blue: rgba(230, 234, 240, 1);
  --hra-blue-3: rgba(230, 234, 240, 1);
  --gray-secondary-2: rgba(76, 76, 88, 1);
  --primary-white: rgba(255, 255, 255, 1);

  /* Fonts */
  --font-metropolis: 'Metropolis';
  --font-omnes: 'Omnes';

  /* .landing-title {
    line-height: clamp(52.5px, 9vw, 96px);
    font-size: clamp(42px, 8.5rem , 72px);
  } */
}

body {
  margin: 0;
}

* {
  font-family: var(--font-metropolis);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Text helpers */
.text-large {
  font-size: 1.5rem;
  font-weight: 500;
}

.text-small {
  font-size: 0.75rem;
  font-weight: 400;
}

/* Arrow Declarations */
.arrow {
  display: inline-block;
  mask: url(assets/images/arrow_large.svg) no-repeat center;
  mask-size: 1.5rem 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.arrow-white {
  background-color: var(--primary-white);
}

.arrow-red {
  background-color: var(--red-secondary);
}

/* Mobile navigation menu */
.mobile-nav-menu-btn {
  right: 0;
  z-index: 2;
  position: fixed;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgba(239, 242, 245, 1);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  box-shadow: 0 0rem 0.5rem #0000004d, 0 0.0625rem 0.125rem 0.0625rem #00000026;
}

#mobile-nav-menu-state,
.mobile-nav-menu {
  display: none;
}

#mobile-nav-menu-state:checked~.mobile-nav-menu {
  display: unset;
}

.mobile-nav-menu {
  z-index: 1;
  padding: 4rem 2rem;
  position: fixed;
  top: 3rem;
  overflow-y: scroll;
  background-color: var(--hra-blue-3);
}

.menu-item {
  margin-bottom: 2.5rem;
}

.parent-menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  color: var(--red-secondary-3);
  font-size: 1.125rem;
  line-height: 1.125rem;
  padding: 0.5rem 1.5rem;
}

.parent-menu-item:hover {
  color: var(--red-secondary-4);
}

.parent-menu-item:active {
  color: var(--red-secondary-5);
}

.parent-menu-item:focus {
  color: var(--text-primary);
}

.parent-menu-item:hover .arrow-red {
  background-color: var(--red-secondary-4);
}

.parent-menu-item:active .arrow-red {
  background-color: var(--red-secondary-5);
}

.parent-menu-item:focus .arrow-red {
  background-color: var(--text-primary);
}

.child-menu-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.40625rem;
  padding: 1rem 1.5rem;
}

.child-menu-item:hover {
  color: var(--red-secondary-4);
}

.child-menu-item:active {
  color: var(--red-secondary-5);
}

.child-menu-item:focus {
  border: solid 0.25rem var(--red-secondary);
}

.item-info {
  font-family: var(--font-omnes);
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--gray-secondary-2);
  padding: 0 1.5rem;
  margin-bottom: 0.25rem;
}

.nested {
  padding: 0.5rem 3rem;
}

@media (max-width: 544px) {
  .mobile-nav-menu-btn {
    display: flex;
  }
}

/* Web Nav Menu */
.web-nav-menu {
  display: none;
}

/* Main Landing Styles */
.landing-main {
  background-image: url(assets/images/landing_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.mobile-nav-btn {
  display: none;
}

.landing-content {
  padding: 0rem 1.5rem;
}

.landing-title {
  font-weight: 500;
  line-height: 3.28125rem;
  font-size: 2.625rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.landing-title,
.description {
  margin-bottom: 1rem;
}

.description {
  font-family: var(--font-omnes);
  line-height: 1.3125rem;
  color: var(--text-secondary);
}

.primary-btn {
  --corner-width: 0.9375rem;
  --corner-height: 0.8125rem;
  --border-width: 0.25rem;
  background-color: var(--red-secondary);
  font-weight: 500;
  font-size: 1.125rem;
  color: white;
  border: none;
  padding: 0.15625rem 1.5rem;
  clip-path: polygon(
      /* Bottom left */
      0 100%,
      /* Top left */
      0 0,
      /* Top right */
      100% 0%,
      /* Bottom right y-axis */
      100% calc(100% - var(--corner-height)),
      /* Bottom right x-axis */
      calc(100% - var(--corner-width)) 100%);
  width: max-content;
  line-height: 2.15625rem;
}

.focus {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.primary-btn:focus {
  padding: 0;
}

.primary-btn:focus .focus {
  /* Theta is the angle between the x-axis and the cut border */
  /* approximately tan(theta / 2) */
  --x-multiplier: 0.373;
  /* approximately tan((90 - theta) / 2) */
  --y-multiplier: 0.4566;
  padding: 0.15625rem 1.5rem;
  line-height: 2.15625rem;
  background-color: white;
  color: black;
  clip-path: polygon(
      /* Bottom left */
      var(--border-width) calc(100% - var(--border-width)),
      /* Top left */
      var(--border-width) var(--border-width),
      /* Top right */
      calc(100% - var(--border-width)) var(--border-width),
      /* Bottom right y-axis */
      calc(100% - var(--border-width)) calc(100% - var(--corner-height) - var(--border-width) * var(--y-multiplier)),
      /* Bottom right x-axis */
      calc(100% - var(--corner-width) - var(--border-width) * var(--x-multiplier)) calc(100% - var(--border-width)));
}

.primary-btn:hover {
  background-color: var(--red-secondary-3);
}

.primary-btn:active {
  background-color: var(--red-secondary-4);
}

.primary-btn:focus .arrow-white {
  background-color: var(--text-primary);
}

/* Collaborators Styles */
.collaborators {
  background-color: var(--blue-primary);
}

.collab-label {
  font-family: var(--font-omnes);
  color: white;
  padding: 5rem 1.5rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.0875rem;
}

.collab-banner {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
  gap: 4rem;
  padding: 0 4.45rem;
  padding-bottom: 6.875rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.collab-banner::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.collab-banner {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Use the atlas styles */
.use-the-atlas {
  display: grid;
  gap: 5rem;
  padding: 5rem 1.5rem;
}

.atlas-logo {
  height: 4.5rem;
  width: 4.5rem;
}

.atlas-title {
  color: var(--text-primary);
}

.atlas-description {
  font-family: var(--font-omnes);
  color: var(--text-secondary);
  line-height: 1.3125rem;
  letter-spacing: 0.00375rem;
}

.atlas-logo,
.atlas-title,
.atlas-description {
  margin-bottom: 1rem;
}

/* Footer top styles */
.footer-top {
  background-color: var(--blue-primary);
  padding: 5rem 2rem;
}

.hra {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: min-content;
}

.hra span {
  font-weight: 400;
  color: white;
  line-height: 2rem;
}

.copyright {
  display: flex;
  gap: 0.5rem;
  font-weight: 300;
  align-items: center;
  font-family: var(--font-omnes);
  color: white;
  margin-bottom: 4rem;
  width: max-content;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.social-media .social-link :is(.default, .hover, .active, .focus) {
  display: none;
}

.social-media .social-link:not(:active, :hover, :focus) .default {
  display: unset;
}

.social-media .social-link:focus:not(:hover, :active) .focus {
  display: unset;
}

.social-media .social-link:hover:not(:active) .hover {
  display: unset;
}

.social-media .social-link:active .active {
  display: unset;
}

.funded-by span {
  display: inline-block;
  font-family: var(--font-omnes);
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

.fund-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2.3rem;
}

.fund-logos img {
  width: 3.75rem;
  height: 2.5rem;
}

/* Footer Bottom Styles */
.footer-bottom {
  background-color: var(--hra-blue);
}

.atlas-categories {
  display: grid;
  gap: 4rem;
  padding: 5.5rem 1.5rem 6rem 1.5rem;
}

.atlas-categories span {
  display: inline-block;
  color: var(--red-secondary-3);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.atlas-categories ul {
  margin: 0;
  padding: 0;
  /* margin-bottom: 4rem; */
}

.atlas-categories ul:last-child {
  margin: 0;
}

.atlas-category span {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.atlas-categories li,
.atlas-categories a {
  list-style-type: none;
  font-family: var(--font-omnes);
  font-weight: 300;
  color: var(--text-primary);
}

.atlas-categories li {
  padding: 0.5rem;
  line-height: 1.5rem;
}

.disclaimer {
  font-family: var(--font-omnes);
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--text-primary);
  padding: 0 1.5rem 5.5rem 1.5rem;
}

@media (max-width: 544px) {
  /* shared between small & x-small */
}

/* Breakpoint for extra small */
@media (max-width: 320px) {
  .landing-main {
    background-position: 31%;
  }

  .landing-content {
    padding: 8rem 1.5rem;
  }

  .mobile-nav-menu {
    max-height: calc(100vh - 11rem);
    width: calc(100vw - 5rem);
  }

  .description {
    font-family: var(--font-metropolis);
    letter-spacing: 0.00375rem;
    margin-bottom: 2rem;
  }

  .primary-btn {
    font-size: 0.75rem;
    line-height: 1.375rem;
    padding: 0.3125rem 0.75rem;
    letter-spacing: 0.00375rem;
    --border-width: 0.125rem;
    --border-slant-inner-offset: 0.0625rem;
  }

  .focus {
    gap: 0.25rem;
  }

  .primary-btn:focus,
  .primary-btn:focus .focus {
    line-height: 1.375rem;
  }

  .primary-btn:focus .focus {
    padding: 0.3125rem 0.75rem;
  }

  .arrow-white {
    height: 1rem;
    width: 1.2rem;
    mask-size: 1rem 1rem;
  }

  .atlas-title {
    line-height: 2.25rem;
  }

  .atlas-description {
    font-family: var(--font-metropolis);
  }
}

/* Breakpoint for small */
@media (min-width: 321px) and (max-width: 544px) {
  .mobile-nav-menu-btn {
    margin: 1.5rem;
  }

  .mobile-nav-menu {
    max-height: calc(100vh - 12rem);
    top: 4rem;
  }

  .landing-main {
    min-height: 52.125rem;
    background-position: 24%;
  }

  .landing-content {
    padding: 0 3.5rem;
  }

  .landing-title {
    margin-bottom: 0.5rem;
  }

  .text-small {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .description {
    margin-bottom: 2rem;
    letter-spacing: 0.07875rem;
  }

  .collab-label {
    padding: 3rem 9.5rem 2rem 3.5rem;
    max-width: 21.4375rem;
  }

  .collab-banner {
    gap: 6.5rem;
    padding: 0 4rem;
    padding-bottom: 6.75rem;
  }

  /* Use the atlas styles */
  .use-the-atlas {
    gap: 7rem;
    padding: 7.5rem 3.5rem;
  }

  .atlas-logo {
    height: 6rem;
    width: 6rem;
  }

  .atlas-logo,
  .atlas-title {
    margin-bottom: 1rem;
  }

  .atlas-title {
    font-size: 2.625rem;
    line-height: 3.28125rem;
  }

  .atlas-description {
    letter-spacing: 0.07875rem;
    margin-bottom: 2rem;
  }

  /* Footer Top Styles */
  .footer-top {
    padding: 7.5rem 5rem;
  }

  .hra span {
    font-weight: 300;
    font-size: 2.25rem;
  }

  .social-media {
    gap: 1rem;
  }

  .fund-logos {
    gap: 1.375rem;
  }

  /* Footer Bottom Styles */
  .atlas-categories {
    padding: 5.5rem 6.5rem 6rem 6.5rem;
  }

  .disclaimer {
    padding: 0rem 6.5rem 5.5rem 6.5rem;
  }
}

/* Breakpoint for Medium Screens */
@media (min-width: 545px) and (max-width: 768px) {
  .mobile-nav-menu-btn {
    margin: 1.5rem;
  }

  .mobile-nav-menu {
    right: 2rem;
    top: 4rem;
    max-height: calc(100vh - 11rem);
    width: calc(100vw - 6rem);
  }

  .landing-main {
    background-position: 28%;
  }

  .landing-content {
    padding: 17.5rem 3rem;
  }

  .landing-title {
    font-size: 4rem;
    line-height: 5.625rem;
    letter-spacing: -0.225rem;
  }

  .text-small {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .description {
    letter-spacing: 0.0875rem;
    margin-bottom: 2rem;
    font-family: var(--font-omnes);
  }

  /* Collaborators Styles */
  .collab-label {
    font-family: var(--font-metropolis);
    font-weight: 500;
    padding: 4rem 6rem 2rem 6rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: unset;
  }

  .collab-banner {
    gap: 7.5rem;
    padding: 1.6875rem 7rem 4.125rem 6.5rem;
  }

  /* Use the atlas styles */
  .use-the-atlas {
    gap: 8.5rem;
    padding: 7.5rem 6rem;
  }

  .atlas-logo {
    height: 6rem;
    width: 6rem;
  }

  .atlas-title {
    font-size: 2.625rem;
    line-height: 3.28125rem;
  }

  .atlas-description {
    font-family: var(--font-omnes);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-bottom: 2rem;
    letter-spacing: 0.07875rem;
  }

  /* Footer Top Styles */
  .footer-top {
    padding: 6rem 5rem;
  }

  .hra {
    margin-bottom: 0.8125rem;
  }

  .hra img {
    min-height: 7.875rem;
    min-width: 7.875rem;
  }

  .hra span {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .copyright {
    margin-bottom: 3.375rem;
    line-height: 1.5rem;
  }

  .social-media {
    gap: 1rem;
    margin-bottom: 3.375rem;
  }

  /* Footer Bottom Styles */
  .atlas-categories {
    padding: 6rem 4.5rem 6rem 4.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 7rem;
  }

  .disclaimer {
    padding: 0rem 4.5rem 6rem 4.5rem;
  }
}

/* Breakpoint for Large Screens */
@media screen and (min-width: 769px) and (max-width: 1012px) {
  .mobile-nav-menu-btn {
    margin: 1.5rem;
  }

  .mobile-nav-menu {
    right: 2.5rem;
    top: 4rem;
    width: calc(100vw - 6rem);
    height: calc(100vh - 11rem);
  }

  .landing-main {
    min-height: 38rem;
    background-position: 43%;
  }

  .landing-content {
    margin-top: 11.4375rem;
    margin-left: 7.5625rem;
    margin-right: 5.6875rem;
    margin-bottom: 8.8125rem;
    padding: 0;
  }

  .landing-title {
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: -0.2rem;
    margin-bottom: 0.5rem;
  }

  .text-small {
    font-size: 1.125rem;
    letter-spacing: 0.07875rem;
  }

  .description {
    line-height: 1.6875rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  /* Collaborators Styles */
  .collaborators {
    display: flex;
  }

  .collab-label {
    padding: 3rem 0.5rem 3rem 4.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0875rem;
    min-width: 24.5rem;
  }

  .collab-banner {
    padding: 0;
    padding: 0 4.65625rem;
    gap: 7.5rem;
  }

  /* Use the atlas styles */
  .use-the-atlas {
    grid-template-columns: 1fr 1fr;
    padding: 7.5rem 6rem;
    gap: 8rem 6.5rem;
  }

  .atlas-logo {
    height: 6rem;
    width: 6rem;
  }

  .atlas-title {
    font-size: 2.625rem;
    line-height: 3.28125rem;
  }

  .atlas-description {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: 0.07875rem;
    margin-bottom: 2rem;
  }

  .atlas-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* Footer Top Styles */
  .footer-top {
    padding: 5rem 6rem;
  }

  .hra {
    margin-bottom: 1rem;
  }

  .hra img {
    height: 7.875rem;
    width: 7.875rem;
  }

  .hra span {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .copyright {
    margin-bottom: 2rem;
  }

  .social-and-funded {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social-media {
    margin: 0;
    gap: 1rem;
  }

  .funded-by span {
    margin: 0.375rem 0 0.5rem 0;
  }

  .fund-logos {
    gap: 1.5rem;
  }

  .fund-logos a {
    display: flex;
  }

  /* Footer Bottom Styles */
  .atlas-categories {
    padding: 5rem 5rem 6rem 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 6.5rem 8rem;
  }

  .disclaimer {
    padding: 0rem 5rem 5rem 5rem;
  }
}

/* Breakpoint for Extra Large Screens */
@media screen and (min-width: 1013px) and (max-width: 1280px) {
  .mobile-nav-menu-btn {
    display: none;
  }

  .landing-main {
    gap: 0;
    background-position: 51%;
  }

  .web-nav-menu {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
    gap: 5rem;
    height: 10rem;
  }

  .web-nav-menu img {
    height: 88px;
    width: 86px;
  }

  .web-nav-menu span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    padding: 8px 80px 8px 4px;
    white-space: nowrap;
    position: relative;
    color: var(--text-primary);
    border-bottom: 2px solid var(--blue-primary);
  }

  .web-nav-menu span:hover {
    border-bottom: 2px solid var(--red-secondary-3);
  }

  .web-nav-menu span:active {
    border-bottom: 2px solid var(--red-secondary-5);
    color: var(--red-secondary-5);
  }

  .web-nav-menu span:focus {
    border: 4px solid var(--red-secondary);
  }

  .landing-content {
    padding: 148px 84px 236px 312px;
  }

  .landing-title {
    font-size: 4.5rem;
    letter-spacing: -3.6px;
    line-height: 90px;
  }

  .description {
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
  }

  /* Collaborators Styles */
  .collaborators {
    display: flex;
  }

  .collab-label {
    padding: 4.5rem 2rem 4.5rem 4rem;
    min-width: 21.8125rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: unset;
  }

  .collab-banner {
    gap: 7.5rem;
    padding: 4.375rem 7.5rem;
  }

  /* Use the atlas styles */
  .use-the-atlas {
    grid-template-columns: 1fr 1fr;
    padding: 7.5rem 6rem;
    gap: 9rem;
  }

  .use-the-atlas .atlas-item:first-child .atlas-description {
    flex-grow: 1;
  }

  .atlas-item {
    display: flex;
    flex-direction: column;
  }

  .atlas-logo {
    height: 6rem;
    width: 6rem;
  }

  .atlas-title {
    font-size: 2.625rem;
    line-height: 3.28125rem;
  }

  .atlas-description {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: 0.07875rem;
    margin-bottom: 2rem;
  }

  /* Footer Top Styles */
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "hra copyright";
    padding: 5rem 6rem;
    gap: 110.px;
  }

  .hra {
    grid-area: hra;
    margin-bottom: 1rem;
  }

  .hra img {
    height: 8rem;
    width: 8rem;
  }

  .hra span {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .copyright {
    margin: 0;
    grid-area: copyright;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .social-and-funded {
    display: flex;
    align-items: center;
    gap: 7rem;
  }

  .social-media {
    margin: 0;
    gap: 1rem;
  }

  .fund-logos {
    gap: 1.5rem;
  }

  /* Footer Bottom Styles */
  .atlas-categories {
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 72px 64px 72px;
    gap: 6.75rem;
  }

  .disclaimer {
    padding: 0 72px 80px 72px;
  }
}