/* Font Declaration Metropolis*/
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis/metropolis.medium.otf') format('opentype');
  font-weight: 500;
}

/* Font Declaration Omnes */
@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.light.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Omnes';
  src: url('assets/fonts/omnes/omnes.medium.ttf') format('opentype');
  font-weight: 500;
}

/* Common Styles */
:root {
  --text-primary: rgba(32, 30, 61, 1);
  --text-secondary: rgba(70, 73, 84, 1);
  --red-primary: rgba(255, 0, 67, 1);
  --red-secondary: rgba(224, 13, 58, 1);
  --red-secondary-3: rgba(178, 10, 47, 1);
  --red-secondary-4: rgba(142, 8, 37, 1);
  --blue-primary: rgba(75, 75, 94, 1);
  --hra-blue: rgba(230, 234, 240, 1);
  --hra-blue-3: rgba(230, 234, 240, 1);
  --gray-secondary-2: rgba(76, 76, 88, 1);
}

body {
  margin: 0;
}

* {
  font-family: 'Metropolis';
}

a {
  color: inherit;
  text-decoration: none;
}

/* Text helpers */
.text-large {
  font-size: 1.5rem;
  font-weight: 500;
}

.text-small {
  font-size: 0.75rem;
  font-weight: 400;
}


/* Mobile navigation menu */

.mobile-nav-menu-btn {
  right: 0;
  z-index: 2;
  position: fixed;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgba(239, 242, 245, 1);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  box-shadow: 0 0rem 0.5rem #0000004d, 0 0.0625rem 0.125rem 0.0625rem #00000026;
}

#mobile-nav-menu-state,
.mobile-nav-menu {
  display: none;
}

#mobile-nav-menu-state:checked~.mobile-nav-menu {
  display: unset;
}

.mobile-nav-menu {
  z-index: 1;
  padding: 4rem 2rem;
  position: fixed;
  top: 3rem;
  overflow-y: scroll;
  background-color: var(--hra-blue-3);
}

.menu-item {
  margin-bottom: 2.5rem;
}

.parent-menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--red-secondary-3);
  font-size: 1.125rem;
  line-height: 1.125rem;
  padding: 0.5rem 1.5rem;
}

.child-menu-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.40625rem;
  padding: 1rem 1.5rem;
}

.item-info {
  font-family: 'Omnes';
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--gray-secondary-2);
  padding: 0 1.5rem;
  margin-bottom: 0.25rem;
}

.nested {
  padding: 0.5rem 3rem;
}

@media (max-width: 544px) {
  .mobile-nav-menu-btn {
    display: flex;
  }
}

/* Main Landing Styles */
.landing-main {
  background-image: url(assets/images/landing_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.mobile-nav-btn {
  display: none;
}

.landing-content {
  padding: 0rem 1.5rem;
}

.landing-title {
  font-weight: 500;
  line-height: 3.28125rem;
  font-size: 2.625rem;
  color: var(--text-primary);
}

.landing-title,
.description {
  margin-bottom: 1rem;
}

.description {
  line-height: 1.3125rem;
  color: var(--text-secondary);
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--red-secondary);
  font-weight: 500;
  font-size: 1.125rem;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 92% 100%, 0 100%);
  gap: 1rem;
  width: max-content;
  line-height: 22px;
}

.primary-btn:hover {
  background-color: var(--red-secondary-3);
}

.primary-btn:active {
  background-color: var(--red-secondary-4);
}

/* Collaborators Styles */
.collaborators {
  background-color: var(--blue-primary);
}

.collab-label {
  font-family: 'Omnes';
  color: white;
  padding: 5rem 1.5rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
}

.collab-banner {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: scroll;
  gap: 4rem;
  padding: 0 4.45rem;
  padding-bottom: 6.875rem;
}

/* Use the atlas styles */
.use-the-atlas {
  padding: 5rem 1.5rem;
}

.atlas-item:not(:last-child) {
  margin-bottom: 5rem;
}

.atlas-logo {
  height: 4.5rem;
  width: 4.5rem;
}

.atlas-title {
  color: var(--text-primary);
}

.atlas-description {
  color: var(--text-secondary);
  line-height: 1.3125rem;
}

.atlas-logo,
.atlas-title,
.atlas-description {
  margin-bottom: 1rem;
}

/* Footer top styles */
.footer-top {
  background-color: var(--blue-primary);
  padding: 5rem 2rem;
}

.hra {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: min-content;
}

.hra span {
  font-weight: 400;
  color: white;
  line-height: 2rem;
}

.copyright {
  display: flex;
  gap: 0.5rem;
  font-weight: 300;
  align-items: center;
  font-family: 'Omnes';
  color: white;
  margin-bottom: 4rem;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.social-media .social-link :is(.default, .hover, .active, .focus) {
  display: none;
}

.social-media .social-link:not(:active, :hover, :focus) .default {
  display: unset;
}

.social-media .social-link:focus:not(:hover, :active) .focus {
  display: unset;
}

.social-media .social-link:hover:not(:active) .hover {
  display: unset;
}

.social-media .social-link:active .active {
  display: unset;
}

.funded-by span {
  display: inline-block;
  font-family: 'Omnes';
  font-weight: 300;
  color: white;
  margin-bottom: 2.5rem;
}

.fund-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2.3rem;
}

.fund-logos img {
  width: 3.75rem;
  height: 2.5rem;
}

/* Footer Bottom Styles */
.footer-bottom {
  background-color: var(--hra-blue);
  padding: 5rem 1.5rem;
}

.footer-bottom span {
  display: inline-block;
  color: var(--red-secondary-3);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.footer-bottom ul {
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}

.footer-bottom li,
.footer-bottom a {
  list-style-type: none;
  margin-bottom: 1rem;
  font-family: 'Omnes';
  font-weight: 300;
  color: var(--text-primary);
}

.disclaimer {
  font-family: 'Omnes';
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--text-primary);
}

@media (max-width: 544px) {
  /* shared between small & x-small */
}

/* Breakpoint for extra small */
@media (max-width: 320px) {
  .landing-main {
    min-height: 35.5rem;
    background-position: 31%;
  }

  .mobile-nav-menu {
    max-height: calc(100vh - 11rem);
  }

  .primary-btn {
    font-size: 0.75rem;
    padding: 5px 12px;
    gap: 4px;
  }

  .primary-btn img {
    height: 1rem;
    width: 1rem;
  }
}

/* Breakpoint for small */
@media (min-width: 321px) and (max-width: 544px) {
  .mobile-nav-menu-btn {
    margin: 1.5rem;
  }

  .mobile-nav-menu {
    max-height: calc(100vh - 12rem);
    top: 4rem;
  }

  .landing-main {
    min-height: 52.125rem;
    background-position: 24%;
  }

  .landing-content {
    padding: 0 3.5rem;
  }

  .text-large {
    font-size: 2.625rem;
  }

  .title {
    line-height: 3.28125rem;
    margin-bottom: 0.5rem;
  }

  .text-small {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .description {
    margin-bottom: 2rem;
    letter-spacing: 0.07rem;
  }

  .collab-label {
    padding: 3rem 9rem 2rem 3rem;
    letter-spacing: 0.07rem;
  }

  .collab-banner {
    gap: 7.5rem;
    padding: 0 7rem;
    padding-bottom: 6.75rem;
  }

  /* Use the atlas styles */
  .use-the-atlas {
    padding: 7.5rem 3.5rem;
  }

  .atlas-logo {
    height: 6rem;
    width: 6rem;
  }

  .atlas-logo,
  .atlas-title {
    margin-bottom: 1rem;
  }

  .atlas-title {
    line-height: 3.28125rem;
  }

  .atlas-description {
    letter-spacing: 0.07rem;
    margin-bottom: 3.5rem;
  }

  .atlas-item:not(:last-child) {
    margin-bottom: 7rem;
  }

  /* Footer Top Styles */
  .footer-top {
    padding: 7.5rem 5rem;
  }

  .hra span {
    font-weight: 300;
    font-size: 2.25rem;
  }

  .social-media {
    gap: 1rem;
  }


  .fund-logos {
    gap: 1.375rem;
  }

  /* Footer Bottom Styles */
  .footer-bottom {
    padding: 7rem 6.5rem;
  }

  .footer-bottom ul:last-of-type {
    margin-bottom: 6rem;
  }
}

svg {
  fill: currentColor;
}